* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}


p {
  color: #3d3a3a;
}


img {
  max-width: 100%;
  height: auto;
}


/* nav */
.main-nav {
  display: flex;
  justify-content: end;
  padding: 1.5rem 0.7rem;
  background-color: rgb(252, 232, 240);
}

.nav-item {
  margin: 0 2rem;
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-weight:550;

}

/*BODY*/

body{
  background-color: rgb(250, 246, 241);
}