* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


p{
  font-family: 'Nunito';
  color: #3d3a3a;
}


img{
  max-width: 100%;
  height: auto;
}

/* nav */
.main-nav{
  display: flex;
  justify-content:end;
  padding: 1rem 0.7rem;
  background-color: rgb(235, 243, 242);
}

.nav-item{
  margin: 0 2rem;
  color: blue;
  text-decoration: none;
}

