/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

p {
  color: #3d3a3a;
}


img {
  max-width: 100%;
  height: auto;
}

/* GRID */
.grid {
  display: grid;
}


/* NAV */
.main-nav {
  display: flex;
  justify-content: end;
  padding: 1.5rem 0.7rem;
  background-color: rgb(252, 232, 240);
}

.nav-item {
  margin: 0 2rem;
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-weight: 550;

}

/*BODY*/

body {
  background-color: rgb(250, 246, 241);
}

#about {
  padding: 10rem 0;
  place-items: center;
  margin: 9.5rem;
  display: grid;
}


.visual-button {
  background-color: #e9839d;
  text-align: center;
  padding: 0.5rem 0.5rem;
  margin: 2rem 10rem;
  border-radius: 0.2rem;
  color: #ffffff;
}

h1 {
  font-size: 5rem;
  color: #3d3a3a;
}

/*EDUCATION SECTION */
.education-skills-section {
  background-color: rgb(252, 232, 240);
  display: flex;
  justify-content: center;
  padding: 10rem 30rem;
}

.education-skills-section p{
  margin: 0 2rem;
}

h2,
h3 {
  font-size: 1.6rem;
  color: #E9839D;
}


/*EXPERIENCE SECTION */
#experience-section{
  display: flex;
  justify-content: center;
  padding: 10rem 17rem;
  background-color: #d1dab5;
}

.exp-img{
  border:0.2rem solid #434d20;
  border-radius: 0.2rem; 
  width: 60rem;      
  height: auto; 
}

.exp-text-container{
  margin: 0 7rem;
}

.exp-text-container h4{
  font-size: 2rem;
  color:#1d1c1c;
  
}

.exp-text-container h5{
  font-size: 2rem;
  color:#1d1c1c;
  
}

.exp-description{
  margin: 2rem 0;
  

}







/*FOOTER CONTACT SECTION*/
.footer-content{
  text-align: center;
  background-color: rgb(252, 232, 240);
  padding: 1.3rem 0;
  border-top: 0.1rem solid #E9839D;
}


/* Visualizations */

.visBarGraph{
  display: grid;
  justify-content: center;
  margin: 2rem 0;
}

.visBarGraph h1{
  text-align: center;
  font-size: 2rem;
}
